.container {
  display: flex;
  justify-content: center;
  height: 40vh;
  width: 85vh;
  align-items: center;
  margin-left: 30%;
}

.card {
  border-radius: 1rem;
  background-color: antiquewhite;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.6);
  background-color: rgba(200, 255, 255, 0.458);
  backdrop-filter: blur(18px);
  display: flex;
  margin: 1rem;
  overflow: hidden;
  width: auto;
  height: auto;
}

.leftColumn {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.temp {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  font-weight: 300;
}

.temps {
  display: flex;
  justify-content: space-between;
}

.rightColumn {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  color: white;
  border-left: 2px dotted #726d6d94;
}

.row {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}

.name {
  color: #284b63;
  font-weight: 700;
}

.btn {
  border: solid 1px transparent;
  border-radius: 999px;
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.25s;
  cursor: pointer;
  color: #ffffff;
  position: absolute;
  margin-left: 90%;
  margin-bottom: 1rem;
}

.btn:hover {
  background-color: #ffffff5a;
}
